
<p>
browse all posts
</p>

<% @posts.all.reverse.each do |post| %> 
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%= post.title %></h1>
    <p class="lead"><%= post.main_text %></p>
  </div>
</div>
<% end %>