<img src="/images/avo-dish.jpg" class="img-fluid" alt="Responsive image">

<%# hero text %>
<div class="jumbotron">
  <h1 class="display-4">A blogging site desiged with culinary passion</h1>
  <p class="lead">Find inspiration for your next culinary adventure, keep up to date with cooking enthusaits and share your creations with like minded chefs.</p>
  <hr class="my-4">
  <p>Create an account, its free! </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/sign_up" role="button">Sign up</a>

<%# row with three images  %>
<div class="container" >
  <div class="row">
    <div class="col-sm">
      <img src="/images/sushi.jpeg" alt="..." class="img-thumbnail">
    </div>
    <div class="col-sm">
      <img src="/images/steak.jpeg" alt="..." class="img-thumbnail">
    </div>
    <div class="col-sm">
      <img src="/images/two-sushi.jpeg" alt="..." class="img-thumbnail">
    </div>
  </div>
</div>

  </p>
</div>